<div class="main"> 

  <table class="merchants">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>&nbsp;</th>
    </tr>
    <% for merchant in @merchants %>
    <tr>
      <td>
      <%= merchant.id %>
      </td>
      <td>
      <%= merchant.name%>
      </td> 
    </tr>
    <% end %> 
  </table>
</div>