<!DOCTYPE html>
<html>
<head>
  <title>Cash Box</title>

  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">

</head>
<body>
<div class="title title--bar">Cash box</div>
<div class="container nav--bar">
  <div class="box">  
  <a href="/categories">Categories</a>
  </div>
  <div class="box">    
  <a href="/merchants">Merchants</a></div>
  <div class="box">  
  <a href="/transactions">Transactions</a>
  </div>
</div>


<%=yield%>
</body>
</html>