body {
  font-family: 'Arial', 'Courier'
}

h1 {
margin-left: 25px
}
ul {
  font-size: 18pt;
}

.title
{
 display: flex;
 font-family: "Arial";
 font-size:60px;
 font-variant: small-caps;
 color: lightblue;
 align-items: center;
 justify-content: space-around;
 border-style: solid;
 border-color: lightblue; 
}
.container
{
  display: flex;
  font-family: "Arial";
  font-size:36px;
  font-variant: small-caps;
  align-items: center;
  justify-content: space-around;
  border-style: solid;
  border-top-style: none;
  border-color: lightblue;
}

.main
{
  /*display: flex;*/
  font-size:36px;
  font-variant: small-caps;
  align-items: right;
  justify-content: space-around;
}

table.transactions td.amount
{
text-align: right;
padding-right: 10px;
}
table.transactions
{
  text-align: left;
}

.foot
{
  display:flex;
  border-style: solid;
  border-color: #B6D6CC;
  justify-content: flex-end;
  padding-right: 160px;
  font-size: 36px;
}

.foot input[type="text"]
{
  text-align: right;
  font-weight: bold;
  padding-right: 20px;
  font-size: 36px;
  width: 140px;
}

#new {
  margin-left: 20px;
}

#new label {
  display: inline-block;
  width: 75px;
}

.new_trans select{
  font-size: 24px;
}

input[type="text"], input[type="date"]
{
 font-size: 24px; 
}

input[type="submit"]
{
  color: red;
  width: 200px;
  padding: 20px;
  font-size: 20px;
  -webkit-appearance: none;
}


