body {
  font-family: 'Arial', 'Courier'
}

h1 {
margin-left: 25px
}
ul {
  font-size: 18pt;
}

.title
{
 display: flex;
 font-family: "Arial";
 font-size:60px;
 font-variant: small-caps;
 color: #58616a;

 align-items: center;
 justify-content: space-around;
 border-style: solid;
 border-color: #58616a;
 background-color: #e8f1fa;
}
.container
{
  display: flex;
  font-family: "Arial";
  font-size:36px;
  font-variant: small-caps;
  align-items: center;
  justify-content: space-around;
  border-style: solid;
  border-top-style: none;
  border-color: #58616a;
  background-color: #e8f1fa; 
}

.main
{
  display: flex;
  font-size:36px;
  font-variant: small-caps;
  align-items: right;
  justify-content: space-around;
  background: -webkit-linear-gradient(#e8f1fa,#98b1ca);
  border-style: solid;
  border-top-style: none;
  border-color: #58616a;

}

#view
{
  flex-direction: column; 
  padding-left: 25px; 
}


table.transactions td.amount
{
text-align: right;
padding-right: 10px;

}
table
{
  text-align: left;
  color: #48616a;
}

th, td {
  padding: 5px;
}

.foot
{
  display:flex;
  border-style: solid;
  border-color: #B6D6CC;
  justify-content: flex-end;
  padding-right: 160px;
  font-size: 36px;
  background: #98b1ca;
  border-style: solid;
  border-top-style: none;
  border-color: #58616a;
  color: #58616a;

}

.foot input[type="text"]
{
  color: #48616a;
  background-color: #98b1ca;
  border-color: #58616a;
  text-align: right;
  font-weight: bold;
  padding-right: 20px;
  font-size: 36px;
  width: 140px;
}

#new {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 10px;
  border-style: solid;
  border-top-style: none;
  border-color: #58616a;  
  background-color: #e8f1fa;  
}

#new label, #view label {
  display: inline-block;
  font-size: 26px;
  width: 75px;

}

.new_trans select {
  font-size: 24px;
}

#new select
{
  font-size: 26px;
}

#merchant_id, #category_id
{
font-size: 26px;
margin-left: 40px;
}

input[type="text"] 
{
 font-size: 24px; 
 margin-left: 40px;
 width: 120px;
 border-style: line;
 border-color:  #98a1aa;
 border-top-color: #e8f1fa;
 border-left-color: #e8f1fa;

}

input[type="date"]
{
 margin-left: 40px;
 font-size: 24px; 
 font-family: Arial;
 border-style: line;
 border-color:  #98a1aa;
 border-top-color: #e8f1fa;
 border-left-color: #e8f1fa;
 }

input[type="submit"]
{
  width: 200px;
  height: 60px;
  margin-bottom: 10px;
  margin-left: 80px;
  text-align: center;
  font-size: 40px;
  border-color:  #98a1aa;
  border-top-color: #e8f1fa;
  border-left-color: #e8f1fa;
  background-color: #b8c1ca;
  color: #586a8a;
  -webkit-appearance: none;
}

.buttons
{
display: flex;
 flex-direction: row;
}

.buttons #delete
{
margin-left: auto;
margin-right: 80px;
background-color: darkred;
}



